// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2022.1.0.52.3
// Netlist written on Wed Mar 15 13:10:27 2023
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/radiant/ip/pmi/pmi_lifcl.v"
// file 1 "c:/radiant/ip/pmi/pmi_lifcl.vhd"
// file 2 "c:/users/sp5wwp/documents/radiant/openht/ddr_rx/rtl/ddr_rx.v"
// file 3 "c:/users/sp5wwp/documents/radiant/openht/ddr_tx/rtl/ddr_tx.v"
// file 4 "c:/users/sp5wwp/documents/radiant/openht/pll_osc/rtl/pll_osc.v"
// file 5 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/am_modulator.vhd"
// file 6 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/fm_modulator.vhd"
// file 7 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/add_const.vhd"
// file 8 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/c_16qam_map.vhd"
// file 9 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/complex_mul.vhd"
// file 10 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/ctrl_regs.vhd"
// file 11 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/decim.vhd"
// file 12 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/dither_adder.vhd"
// file 13 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/dither_source.vhd"
// file 14 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/dpd.vhd"
// file 15 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/fir_channel.vhd"
// file 16 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/fir_serial.vhd"
// file 17 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/freq_demod.vhd"
// file 18 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/iq_balancer.vhd"
// file 19 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/iq_deserializer.vhd"
// file 20 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/iq_offset.vhd"
// file 21 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/local_osc.vhd"
// file 22 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/mag_est.vhd"
// file 23 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/main.vhd"
// file 24 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/mod_sel.vhd"
// file 25 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/regs_pkg.vhd"
// file 26 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/sincos.vhd"
// file 27 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/spi_slave.vhd"
// file 28 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/unpack.vhd"
// file 29 "c:/users/sp5wwp/documents/radiant/openht/source/impl_1/zero_insert.vhd"
// file 30 "c:/radiant/cae_library/simulation/verilog/lifcl/acc54.v"
// file 31 "c:/radiant/cae_library/simulation/verilog/lifcl/adc.v"
// file 32 "c:/radiant/cae_library/simulation/verilog/lifcl/alureg.v"
// file 33 "c:/radiant/cae_library/simulation/verilog/lifcl/aon.v"
// file 34 "c:/radiant/cae_library/simulation/verilog/lifcl/bb_adc.v"
// file 35 "c:/radiant/cae_library/simulation/verilog/lifcl/bb_cdr.v"
// file 36 "c:/radiant/cae_library/simulation/verilog/lifcl/bb_i3c_a.v"
// file 37 "c:/radiant/cae_library/simulation/verilog/lifcl/bb_programn.v"
// file 38 "c:/radiant/cae_library/simulation/verilog/lifcl/bfd1p3kx.v"
// file 39 "c:/radiant/cae_library/simulation/verilog/lifcl/bfd1p3lx.v"
// file 40 "c:/radiant/cae_library/simulation/verilog/lifcl/bnkref18.v"
// file 41 "c:/radiant/cae_library/simulation/verilog/lifcl/config_ip.v"
// file 42 "c:/radiant/cae_library/simulation/verilog/lifcl/config_lmmi.v"
// file 43 "c:/radiant/cae_library/simulation/verilog/lifcl/config_lmmia.v"
// file 44 "c:/radiant/cae_library/simulation/verilog/lifcl/ddrdll.v"
// file 45 "c:/radiant/cae_library/simulation/verilog/lifcl/diffio18.v"
// file 46 "c:/radiant/cae_library/simulation/verilog/lifcl/dlldel.v"
// file 47 "c:/radiant/cae_library/simulation/verilog/lifcl/dp16k.v"
// file 48 "c:/radiant/cae_library/simulation/verilog/lifcl/dphy.v"
// file 49 "c:/radiant/cae_library/simulation/verilog/lifcl/dpsc512k.v"
// file 50 "c:/radiant/cae_library/simulation/verilog/lifcl/dqsbuf.v"
// file 51 "c:/radiant/cae_library/simulation/verilog/lifcl/ebr.v"
// file 52 "c:/radiant/cae_library/simulation/verilog/lifcl/eclkdiv.v"
// file 53 "c:/radiant/cae_library/simulation/verilog/lifcl/eclksync.v"
// file 54 "c:/radiant/cae_library/simulation/verilog/lifcl/fbmux.v"
// file 55 "c:/radiant/cae_library/simulation/verilog/lifcl/fifo16k.v"
// file 56 "c:/radiant/cae_library/simulation/verilog/lifcl/i2cfifo.v"
// file 57 "c:/radiant/cae_library/simulation/verilog/lifcl/ifd1p3bx.v"
// file 58 "c:/radiant/cae_library/simulation/verilog/lifcl/ifd1p3dx.v"
// file 59 "c:/radiant/cae_library/simulation/verilog/lifcl/ifd1p3ix.v"
// file 60 "c:/radiant/cae_library/simulation/verilog/lifcl/ifd1p3jx.v"
// file 61 "c:/radiant/cae_library/simulation/verilog/lifcl/iologic.v"
// file 62 "c:/radiant/cae_library/simulation/verilog/lifcl/jtag.v"
// file 63 "c:/radiant/cae_library/simulation/verilog/lifcl/lram.v"
// file 64 "c:/radiant/cae_library/simulation/verilog/lifcl/m18x36.v"
// file 65 "c:/radiant/cae_library/simulation/verilog/lifcl/mipi.v"
// file 66 "c:/radiant/cae_library/simulation/verilog/lifcl/mult18.v"
// file 67 "c:/radiant/cae_library/simulation/verilog/lifcl/mult18x18.v"
// file 68 "c:/radiant/cae_library/simulation/verilog/lifcl/mult18x36.v"
// file 69 "c:/radiant/cae_library/simulation/verilog/lifcl/mult36.v"
// file 70 "c:/radiant/cae_library/simulation/verilog/lifcl/mult36x36.v"
// file 71 "c:/radiant/cae_library/simulation/verilog/lifcl/mult9.v"
// file 72 "c:/radiant/cae_library/simulation/verilog/lifcl/mult9x9.v"
// file 73 "c:/radiant/cae_library/simulation/verilog/lifcl/multaddsub18x18.v"
// file 74 "c:/radiant/cae_library/simulation/verilog/lifcl/multaddsub18x18wide.v"
// file 75 "c:/radiant/cae_library/simulation/verilog/lifcl/multaddsub18x36.v"
// file 76 "c:/radiant/cae_library/simulation/verilog/lifcl/multaddsub36x36.v"
// file 77 "c:/radiant/cae_library/simulation/verilog/lifcl/multaddsub9x9wide.v"
// file 78 "c:/radiant/cae_library/simulation/verilog/lifcl/multiboot.v"
// file 79 "c:/radiant/cae_library/simulation/verilog/lifcl/multpreadd18x18.v"
// file 80 "c:/radiant/cae_library/simulation/verilog/lifcl/multpreadd9x9.v"
// file 81 "c:/radiant/cae_library/simulation/verilog/lifcl/ofd1p3bx.v"
// file 82 "c:/radiant/cae_library/simulation/verilog/lifcl/ofd1p3dx.v"
// file 83 "c:/radiant/cae_library/simulation/verilog/lifcl/ofd1p3ix.v"
// file 84 "c:/radiant/cae_library/simulation/verilog/lifcl/ofd1p3jx.v"
// file 85 "c:/radiant/cae_library/simulation/verilog/lifcl/osc.v"
// file 86 "c:/radiant/cae_library/simulation/verilog/lifcl/osca.v"
// file 87 "c:/radiant/cae_library/simulation/verilog/lifcl/oscd.v"
// file 88 "c:/radiant/cae_library/simulation/verilog/lifcl/pcie.v"
// file 89 "c:/radiant/cae_library/simulation/verilog/lifcl/pdp16k.v"
// file 90 "c:/radiant/cae_library/simulation/verilog/lifcl/pdpsc16k.v"
// file 91 "c:/radiant/cae_library/simulation/verilog/lifcl/pdpsc512k.v"
// file 92 "c:/radiant/cae_library/simulation/verilog/lifcl/pll.v"
// file 93 "c:/radiant/cae_library/simulation/verilog/lifcl/plla.v"
// file 94 "c:/radiant/cae_library/simulation/verilog/lifcl/pllrefcs.v"
// file 95 "c:/radiant/cae_library/simulation/verilog/lifcl/pmu.v"
// file 96 "c:/radiant/cae_library/simulation/verilog/lifcl/preadd9.v"
// file 97 "c:/radiant/cae_library/simulation/verilog/lifcl/refmux.v"
// file 98 "c:/radiant/cae_library/simulation/verilog/lifcl/reg18.v"
// file 99 "c:/radiant/cae_library/simulation/verilog/lifcl/sedc.v"
// file 100 "c:/radiant/cae_library/simulation/verilog/lifcl/seio18.v"
// file 101 "c:/radiant/cae_library/simulation/verilog/lifcl/seio33.v"
// file 102 "c:/radiant/cae_library/simulation/verilog/lifcl/sgmiicdr.v"
// file 103 "c:/radiant/cae_library/simulation/verilog/lifcl/siologic.v"
// file 104 "c:/radiant/cae_library/simulation/verilog/lifcl/sp16k.v"
// file 105 "c:/radiant/cae_library/simulation/verilog/lifcl/sp512k.v"
// file 106 "c:/radiant/cae_library/simulation/verilog/lifcl/tsalla.v"
// file 107 "c:/radiant/cae_library/simulation/verilog/lifcl/usb23.v"
// file 108 "c:/radiant/cae_library/simulation/verilog/lifcl/wdt.v"
// file 109 "c:/radiant/cae_library/simulation/verilog/uaplatform/dpr16x4.v"
// file 110 "c:/radiant/cae_library/simulation/verilog/uaplatform/fd1p3bx.v"
// file 111 "c:/radiant/cae_library/simulation/verilog/uaplatform/fd1p3dx.v"
// file 112 "c:/radiant/cae_library/simulation/verilog/uaplatform/fd1p3ix.v"
// file 113 "c:/radiant/cae_library/simulation/verilog/uaplatform/fd1p3jx.v"
// file 114 "c:/radiant/cae_library/simulation/verilog/uaplatform/gsr.v"
// file 115 "c:/radiant/cae_library/simulation/verilog/uaplatform/ib.v"
// file 116 "c:/radiant/cae_library/simulation/verilog/uaplatform/ob.v"
// file 117 "c:/radiant/cae_library/simulation/verilog/uaplatform/obz.v"
// file 118 "c:/radiant/cae_library/simulation/verilog/uaplatform/pclkdivsp.v"
// file 119 "c:/radiant/cae_library/simulation/verilog/uaplatform/spr16x4.v"
// file 120 "c:/radiant/cae_library/simulation/verilog/uaplatform/widefn9.v"
// file 121 "c:/radiant/ip/avant/fifo/rtl/lscc_fifo.v"
// file 122 "c:/radiant/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 123 "c:/radiant/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 124 "c:/radiant/ip/avant/ram_dp_true/rtl/lscc_ram_dp_true.v"
// file 125 "c:/radiant/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 126 "c:/radiant/ip/avant/rom/rtl/lscc_rom.v"
// file 127 "c:/radiant/ip/common/adder/rtl/lscc_adder.v"
// file 128 "c:/radiant/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 129 "c:/radiant/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 130 "c:/radiant/ip/common/counter/rtl/lscc_cntr.v"
// file 131 "c:/radiant/ip/common/distributed_dpram/rtl/lscc_distributed_dpram.v"
// file 132 "c:/radiant/ip/common/distributed_rom/rtl/lscc_distributed_rom.v"
// file 133 "c:/radiant/ip/common/distributed_spram/rtl/lscc_distributed_spram.v"
// file 134 "c:/radiant/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 135 "c:/radiant/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 136 "c:/radiant/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 137 "c:/radiant/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 138 "c:/radiant/ip/common/ram_shift_reg/rtl/lscc_shift_register.v"
// file 139 "c:/radiant/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 140 "c:/radiant/ip/pmi/pmi_add.v"
// file 141 "c:/radiant/ip/pmi/pmi_addsub.v"
// file 142 "c:/radiant/ip/pmi/pmi_complex_mult.v"
// file 143 "c:/radiant/ip/pmi/pmi_counter.v"
// file 144 "c:/radiant/ip/pmi/pmi_distributed_dpram.v"
// file 145 "c:/radiant/ip/pmi/pmi_distributed_rom.v"
// file 146 "c:/radiant/ip/pmi/pmi_distributed_shift_reg.v"
// file 147 "c:/radiant/ip/pmi/pmi_distributed_spram.v"
// file 148 "c:/radiant/ip/pmi/pmi_fifo.v"
// file 149 "c:/radiant/ip/pmi/pmi_fifo_dc.v"
// file 150 "c:/radiant/ip/pmi/pmi_mac.v"
// file 151 "c:/radiant/ip/pmi/pmi_mult.v"
// file 152 "c:/radiant/ip/pmi/pmi_multaddsub.v"
// file 153 "c:/radiant/ip/pmi/pmi_multaddsubsum.v"
// file 154 "c:/radiant/ip/pmi/pmi_ram_dp.v"
// file 155 "c:/radiant/ip/pmi/pmi_ram_dp_be.v"
// file 156 "c:/radiant/ip/pmi/pmi_ram_dp_true.v"
// file 157 "c:/radiant/ip/pmi/pmi_ram_dq.v"
// file 158 "c:/radiant/ip/pmi/pmi_ram_dq_be.v"
// file 159 "c:/radiant/ip/pmi/pmi_rom.v"
// file 160 "c:/radiant/ip/pmi/pmi_sub.v"

//
// Verilog Description of module main_all
//

module main_all (input clk_i, input nrst, output clk_tx_o, output data_tx_o, 
            input clk_rx_i, input data_rx09_i, input data_rx24_i, input spi_ncs, 
            output spi_miso, input spi_mosi, input spi_sck, input io0, 
            input io1, input io2, input io3, output io4, output io5, 
            output io6, output io7);
    
    (* is_clock=1, lineinfo="@23(10[3],10[8])" *) wire clk_i_c;
    (* is_clock=1, lineinfo="@23(17[3],17[11])" *) wire clk_rx_i_c;
    (* is_clock=1, lineinfo="@23(33[17],33[23])" *) wire clk_64;
    
    wire GND_net, VCC_net, nrst_c, clk_tx_o_c, data_tx_o_c, data_rx09_i_c, 
        data_rx24_i_c, spi_ncs_c, spi_mosi_c, spi_sck_c, io0_c, io1_c, 
        io6_c_c, io7_c_c, io4_c, io5_c;
    (* lineinfo="@23(40[9],40[20])" *) wire [1:0]data_rx09_r;
    (* lineinfo="@23(41[9],41[20])" *) wire [1:0]data_rx24_r;
    
    VHI i2 (.Z(VCC_net));
    (* lineinfo="@23(109[11],109[17])" *) ddr_rx_U2 ddr_rx0 (GND_net, clk_rx_i_c, 
            data_rx09_r[0], data_rx09_i_c);
    (* lut_function="(A (B))", lineinfo="@23(141[9],141[20])" *) LUT4 io1_I_0_2_lut (.A(io1_c), 
            .B(io0_c), .Z(io5_c));
    defparam io1_I_0_2_lut.INIT = "0x8888";
    (* lineinfo="@23(26[13],26[16])" *) IB io6_c_pad (.I(io2), .O(io6_c_c));
    (* lineinfo="@23(22[3],22[11])" *) OB spi_miso_pad (.I(GND_net), .O(spi_miso));
    (* lineinfo="@23(26[18],26[21])" *) IB io7_c_pad (.I(io3), .O(io7_c_c));
    (* lineinfo="@23(17[3],17[11])" *) IB clk_rx_i_pad (.I(clk_rx_i), .O(clk_rx_i_c));
    (* lineinfo="@23(12[3],12[7])" *) IB nrst_pad (.I(nrst), .O(nrst_c));
    (* lineinfo="@23(26[3],26[6])" *) IB io0_pad (.I(io0), .O(io0_c));
    (* lineinfo="@23(21[3],21[10])" *) IB spi_ncs_pad (.I(spi_ncs), .O(spi_ncs_c));
    (* lineinfo="@23(24[3],24[10])" *) IB spi_sck_pad (.I(spi_sck), .O(spi_sck_c));
    (* lineinfo="@23(117[11],117[17])" *) ddr_rx ddr_rx1 (GND_net, clk_rx_i_c, 
            data_rx24_r[1], data_rx24_i_c);
    (* lineinfo="@23(27[13],27[16])" *) OB io6_pad (.I(io6_c_c), .O(io6));
    (* lineinfo="@23(26[8],26[11])" *) IB io1_pad (.I(io1), .O(io1_c));
    (* lineinfo="@23(23[3],23[11])" *) IB spi_mosi_pad (.I(spi_mosi), .O(spi_mosi_c));
    (* lineinfo="@23(15[3],15[12])" *) OB data_tx_o_pad (.I(data_tx_o_c), 
            .O(data_tx_o));
    (* lineinfo="@23(14[3],14[11])" *) OB clk_tx_o_pad (.I(clk_tx_o_c), .O(clk_tx_o));
    (* lineinfo="@23(27[8],27[11])" *) OB io5_pad (.I(io5_c), .O(io5));
    (* lineinfo="@23(27[18],27[21])" *) OB io7_pad (.I(io7_c_c), .O(io7));
    (* lineinfo="@23(27[3],27[6])" *) OB io4_pad (.I(io4_c), .O(io4));
    (* lineinfo="@23(19[3],19[14])" *) IB data_rx24_i_pad (.I(data_rx24_i), 
            .O(data_rx24_i_c));
    (* lineinfo="@23(18[3],18[14])" *) IB data_rx09_i_pad (.I(data_rx09_i), 
            .O(data_rx09_i_c));
    (* lineinfo="@23(10[3],10[8])" *) IB clk_i_pad (.I(clk_i), .O(clk_i_c));
    (* lineinfo="@23(101[11],101[17])" *) ddr_tx ddr_tx0 (GND_net, clk_64, 
            data_tx_o_c, VCC_net, clk_tx_o_c);
    (* lineinfo="@23(95[8],95[15])" *) pll_osc pll0 (GND_net, VCC_net, clk_64, 
            clk_i_c);
    (* lut_function="(A+(B+(C)))", lineinfo="@23(139[9],139[65])" *) LUT4 i2_3_lut (.A(data_rx09_r[0]), 
            .B(clk_rx_i_c), .C(data_rx24_r[1]), .Z(io4_c));
    defparam i2_3_lut.INIT = "0xfefe";
    PUR PUR_INST (VCC_net);
    defparam PUR_INST.RST_PULSE = "1";
    VLO i1 (.Z(GND_net));
    GSR GSR_INST (.GSR_N(VCC_net));
    defparam GSR_INST.SYNCMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module ddr_rx_U2
//

module ddr_rx_U2 (input GND_net, input clk_rx_i_c, output \data_rx09_r[0] , 
            input data_rx09_i_c);
    
    (* is_clock=1, lineinfo="@23(17[3],17[11])" *) wire clk_rx_i_c;
    
    (* lineinfo="@2(128[36],175[33])" *) \ddr_rx_ipgen_lscc_gddr(INTERFACE_TYPE="RECEIVE",IO_TYPE="LVDS",BUS_WIDTH=1,GEARING=1,OUT_WIDTH=1,CLK_FREQ=128.0,DATA_PATH_DELAY="BYPASS",CLOCK_PATH_DELAY="FIXED",DATA_DELAY_ADJUSTMENT="DEFAULT",DATA_FINE_DELAY_VALUE="0",DATA_COARSE_DELAY_VALUE="0NS",CLOCK_DATA_RELATION="CENTERED",FVCO=900.0,CLKI_FREQ=25.0,CLKOP_FREQ_ACTUAL=150.0,CLKOS_EN=1,CLKOP_BYPASS=1,CLKOS2_BYPASS=1,CLKOS3_BYPASS=1,CLKOS4_BYPASS=1,CLKOS5_BYPASS=1,PLL_RST=1,LOCK_EN=1,FBCLK_DIVIDER_ACTUAL_STR="6",DIVOP_ACTUAL_STR="5",DIVOS_ACTUAL_STR="7",DIVOS2_ACTUAL_STR="7",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000000110",DELA="5",DELB="7",DELC="7",DELD="7",DELE="7",DELF="7",IPI_CMP="0b0100",CSET="24P",CRIPPLE="3P",IPP_CTRL="0b0100",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K")_U1 lscc_gddr_inst (GND_net, 
            clk_rx_i_c, \data_rx09_r[0] , data_rx09_i_c);
    
endmodule

//
// Verilog Description of module \ddr_rx_ipgen_lscc_gddr(INTERFACE_TYPE="RECEIVE",IO_TYPE="LVDS",BUS_WIDTH=1,GEARING=1,OUT_WIDTH=1,CLK_FREQ=128.0,DATA_PATH_DELAY="BYPASS",CLOCK_PATH_DELAY="FIXED",DATA_DELAY_ADJUSTMENT="DEFAULT",DATA_FINE_DELAY_VALUE="0",DATA_COARSE_DELAY_VALUE="0NS",CLOCK_DATA_RELATION="CENTERED",FVCO=900.0,CLKI_FREQ=25.0,CLKOP_FREQ_ACTUAL=150.0,CLKOS_EN=1,CLKOP_BYPASS=1,CLKOS2_BYPASS=1,CLKOS3_BYPASS=1,CLKOS4_BYPASS=1,CLKOS5_BYPASS=1,PLL_RST=1,LOCK_EN=1,FBCLK_DIVIDER_ACTUAL_STR="6",DIVOP_ACTUAL_STR="5",DIVOS_ACTUAL_STR="7",DIVOS2_ACTUAL_STR="7",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000000110",DELA="5",DELB="7",DELC="7",DELD="7",DELE="7",DELF="7",IPI_CMP="0b0100",CSET="24P",CRIPPLE="3P",IPP_CTRL="0b0100",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K")_U1 
//

module \ddr_rx_ipgen_lscc_gddr(INTERFACE_TYPE="RECEIVE",IO_TYPE="LVDS",BUS_WIDTH=1,GEARING=1,OUT_WIDTH=1,CLK_FREQ=128.0,DATA_PATH_DELAY="BYPASS",CLOCK_PATH_DELAY="FIXED",DATA_DELAY_ADJUSTMENT="DEFAULT",DATA_FINE_DELAY_VALUE="0",DATA_COARSE_DELAY_VALUE="0NS",CLOCK_DATA_RELATION="CENTERED",FVCO=900.0,CLKI_FREQ=25.0,CLKOP_FREQ_ACTUAL=150.0,CLKOS_EN=1,CLKOP_BYPASS=1,CLKOS2_BYPASS=1,CLKOS3_BYPASS=1,CLKOS4_BYPASS=1,CLKOS5_BYPASS=1,PLL_RST=1,LOCK_EN=1,FBCLK_DIVIDER_ACTUAL_STR="6",DIVOP_ACTUAL_STR="5",DIVOS_ACTUAL_STR="7",DIVOS2_ACTUAL_STR="7",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000000110",DELA="5",DELB="7",DELC="7",DELD="7",DELE="7",DELF="7",IPI_CMP="0b0100",CSET="24P",CRIPPLE="3P",IPP_CTRL="0b0100",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K")_U1 (input GND_net, 
            input clk_rx_i_c, output \data_rx09_r[0] , input data_rx09_i_c);
    
    (* is_clock=1, lineinfo="@23(17[3],17[11])" *) wire clk_rx_i_c;
    
    (* lineinfo="@2(9648[76],9652[45])" *) \ddr_rx_ipgen_lscc_gddr_rx_sclk_centered_static_bypass(BUS_WIDTH=1)_U0 \RX_SCLK_CENTERED_STATIC_BYPASS.u_lscc_gddr_rx_sclk_centered_static_bypass  (GND_net, 
            clk_rx_i_c, \data_rx09_r[0] , data_rx09_i_c);
    
endmodule

//
// Verilog Description of module \ddr_rx_ipgen_lscc_gddr_rx_sclk_centered_static_bypass(BUS_WIDTH=1)_U0 
//

module \ddr_rx_ipgen_lscc_gddr_rx_sclk_centered_static_bypass(BUS_WIDTH=1)_U0 (input GND_net, 
            input clk_rx_i_c, output \data_rx09_r[0] , input data_rx09_i_c);
    
    (* is_clock=1, lineinfo="@23(17[3],17[11])" *) wire clk_rx_i_c;
    (* lineinfo="@2(554[30],554[42])" *) wire [0:0]data_i_del_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=155, LSE_LCOL=76, LSE_RCOL=45, LSE_LLINE=9648, LSE_RLINE=9652, lineinfo="@2(9648[76],9652[45])" *) IDDRX1 \Data[0].u_IDDRX1  (.D(data_i_del_w[0]), 
            .SCLK(clk_rx_i_c), .RST(GND_net), .Q0(\data_rx09_r[0] ));
    defparam \Data[0].u_IDDRX1 .GSR = "DISABLED";
    (* syn_instantiated=1, LSE_LINE_FILE_ID=155, LSE_LCOL=76, LSE_RCOL=45, LSE_LLINE=9648, LSE_RLINE=9652, lineinfo="@2(9648[76],9652[45])" *) DELAYB \Data[0].u_DELAYB  (.A(data_rx09_i_c), 
            .Z(data_i_del_w[0]));
    defparam \Data[0].u_DELAYB .DEL_VALUE = "0";
    defparam \Data[0].u_DELAYB .COARSE_DELAY = "0NS";
    defparam \Data[0].u_DELAYB .DEL_MODE = "SCLK_CENTERED";
    
endmodule

//
// Verilog Description of module ddr_rx
//

module ddr_rx (input GND_net, input clk_rx_i_c, output \data_rx24_r[1] , 
            input data_rx24_i_c);
    
    (* is_clock=1, lineinfo="@23(17[3],17[11])" *) wire clk_rx_i_c;
    
    (* lineinfo="@2(128[36],175[33])" *) \ddr_rx_ipgen_lscc_gddr(INTERFACE_TYPE="RECEIVE",IO_TYPE="LVDS",BUS_WIDTH=1,GEARING=1,OUT_WIDTH=1,CLK_FREQ=128.0,DATA_PATH_DELAY="BYPASS",CLOCK_PATH_DELAY="FIXED",DATA_DELAY_ADJUSTMENT="DEFAULT",DATA_FINE_DELAY_VALUE="0",DATA_COARSE_DELAY_VALUE="0NS",CLOCK_DATA_RELATION="CENTERED",FVCO=900.0,CLKI_FREQ=25.0,CLKOP_FREQ_ACTUAL=150.0,CLKOS_EN=1,CLKOP_BYPASS=1,CLKOS2_BYPASS=1,CLKOS3_BYPASS=1,CLKOS4_BYPASS=1,CLKOS5_BYPASS=1,PLL_RST=1,LOCK_EN=1,FBCLK_DIVIDER_ACTUAL_STR="6",DIVOP_ACTUAL_STR="5",DIVOS_ACTUAL_STR="7",DIVOS2_ACTUAL_STR="7",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000000110",DELA="5",DELB="7",DELC="7",DELD="7",DELE="7",DELF="7",IPI_CMP="0b0100",CSET="24P",CRIPPLE="3P",IPP_CTRL="0b0100",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K") lscc_gddr_inst (GND_net, 
            clk_rx_i_c, \data_rx24_r[1] , data_rx24_i_c);
    
endmodule

//
// Verilog Description of module \ddr_rx_ipgen_lscc_gddr(INTERFACE_TYPE="RECEIVE",IO_TYPE="LVDS",BUS_WIDTH=1,GEARING=1,OUT_WIDTH=1,CLK_FREQ=128.0,DATA_PATH_DELAY="BYPASS",CLOCK_PATH_DELAY="FIXED",DATA_DELAY_ADJUSTMENT="DEFAULT",DATA_FINE_DELAY_VALUE="0",DATA_COARSE_DELAY_VALUE="0NS",CLOCK_DATA_RELATION="CENTERED",FVCO=900.0,CLKI_FREQ=25.0,CLKOP_FREQ_ACTUAL=150.0,CLKOS_EN=1,CLKOP_BYPASS=1,CLKOS2_BYPASS=1,CLKOS3_BYPASS=1,CLKOS4_BYPASS=1,CLKOS5_BYPASS=1,PLL_RST=1,LOCK_EN=1,FBCLK_DIVIDER_ACTUAL_STR="6",DIVOP_ACTUAL_STR="5",DIVOS_ACTUAL_STR="7",DIVOS2_ACTUAL_STR="7",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000000110",DELA="5",DELB="7",DELC="7",DELD="7",DELE="7",DELF="7",IPI_CMP="0b0100",CSET="24P",CRIPPLE="3P",IPP_CTRL="0b0100",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K") 
//

module \ddr_rx_ipgen_lscc_gddr(INTERFACE_TYPE="RECEIVE",IO_TYPE="LVDS",BUS_WIDTH=1,GEARING=1,OUT_WIDTH=1,CLK_FREQ=128.0,DATA_PATH_DELAY="BYPASS",CLOCK_PATH_DELAY="FIXED",DATA_DELAY_ADJUSTMENT="DEFAULT",DATA_FINE_DELAY_VALUE="0",DATA_COARSE_DELAY_VALUE="0NS",CLOCK_DATA_RELATION="CENTERED",FVCO=900.0,CLKI_FREQ=25.0,CLKOP_FREQ_ACTUAL=150.0,CLKOS_EN=1,CLKOP_BYPASS=1,CLKOS2_BYPASS=1,CLKOS3_BYPASS=1,CLKOS4_BYPASS=1,CLKOS5_BYPASS=1,PLL_RST=1,LOCK_EN=1,FBCLK_DIVIDER_ACTUAL_STR="6",DIVOP_ACTUAL_STR="5",DIVOS_ACTUAL_STR="7",DIVOS2_ACTUAL_STR="7",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000000110",DELA="5",DELB="7",DELC="7",DELD="7",DELE="7",DELF="7",IPI_CMP="0b0100",CSET="24P",CRIPPLE="3P",IPP_CTRL="0b0100",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K") (input GND_net, 
            input clk_rx_i_c, output \data_rx24_r[1] , input data_rx24_i_c);
    
    (* is_clock=1, lineinfo="@23(17[3],17[11])" *) wire clk_rx_i_c;
    
    (* lineinfo="@2(9648[76],9652[45])" *) \ddr_rx_ipgen_lscc_gddr_rx_sclk_centered_static_bypass(BUS_WIDTH=1) \RX_SCLK_CENTERED_STATIC_BYPASS.u_lscc_gddr_rx_sclk_centered_static_bypass  (GND_net, 
            clk_rx_i_c, \data_rx24_r[1] , data_rx24_i_c);
    
endmodule

//
// Verilog Description of module \ddr_rx_ipgen_lscc_gddr_rx_sclk_centered_static_bypass(BUS_WIDTH=1) 
//

module \ddr_rx_ipgen_lscc_gddr_rx_sclk_centered_static_bypass(BUS_WIDTH=1) (input GND_net, 
            input clk_rx_i_c, output \data_rx24_r[1] , input data_rx24_i_c);
    
    (* is_clock=1, lineinfo="@23(17[3],17[11])" *) wire clk_rx_i_c;
    (* lineinfo="@2(554[30],554[42])" *) wire [0:0]data_i_del_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=155, LSE_LCOL=76, LSE_RCOL=45, LSE_LLINE=9648, LSE_RLINE=9652, lineinfo="@2(9648[76],9652[45])" *) IDDRX1 \Data[0].u_IDDRX1  (.D(data_i_del_w[0]), 
            .SCLK(clk_rx_i_c), .RST(GND_net), .Q1(\data_rx24_r[1] ));
    defparam \Data[0].u_IDDRX1 .GSR = "DISABLED";
    (* syn_instantiated=1, LSE_LINE_FILE_ID=155, LSE_LCOL=76, LSE_RCOL=45, LSE_LLINE=9648, LSE_RLINE=9652, lineinfo="@2(9648[76],9652[45])" *) DELAYB \Data[0].u_DELAYB  (.A(data_rx24_i_c), 
            .Z(data_i_del_w[0]));
    defparam \Data[0].u_DELAYB .DEL_VALUE = "0";
    defparam \Data[0].u_DELAYB .COARSE_DELAY = "0NS";
    defparam \Data[0].u_DELAYB .DEL_MODE = "SCLK_CENTERED";
    
endmodule

//
// Verilog Description of module ddr_tx
//

module ddr_tx (input GND_net, input clk_64, output data_tx_o_c, input VCC_net, 
            output clk_tx_o_c);
    
    (* is_clock=1, lineinfo="@23(33[17],33[23])" *) wire clk_64;
    
    (* lineinfo="@3(128[36],175[33])" *) \ddr_tx_ipgen_lscc_gddr(INTERFACE_TYPE="TRANSMIT",IO_TYPE="LVDS",BUS_WIDTH=1,GEARING=1,IN_WIDTH=1,CLK_FREQ=128.0,DATA_PATH_DELAY="BYPASS",CLOCK_PATH_DELAY="FIXED",DATA_DELAY_ADJUSTMENT="DEFAULT",DATA_FINE_DELAY_VALUE="0",DATA_COARSE_DELAY_VALUE="0NS",CLOCK_DATA_RELATION="ALIGNED",FVCO=900.0,CLKI_FREQ=25.0,CLKOP_FREQ_ACTUAL=150.0,CLKOS_EN=1,CLKOP_BYPASS=1,CLKOS2_BYPASS=1,CLKOS3_BYPASS=1,CLKOS4_BYPASS=1,CLKOS5_BYPASS=1,PLL_RST=1,LOCK_EN=1,FBCLK_DIVIDER_ACTUAL_STR="6",DIVOP_ACTUAL_STR="5",DIVOS_ACTUAL_STR="7",DIVOS2_ACTUAL_STR="7",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000000110",DELA="5",DELB="7",DELC="7",DELD="7",DELE="7",DELF="7",IPI_CMP="0b0100",CSET="24P",CRIPPLE="3P",IPP_CTRL="0b0100",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K") lscc_gddr_inst (GND_net, 
            clk_64, data_tx_o_c, VCC_net, clk_tx_o_c);
    
endmodule

//
// Verilog Description of module \ddr_tx_ipgen_lscc_gddr(INTERFACE_TYPE="TRANSMIT",IO_TYPE="LVDS",BUS_WIDTH=1,GEARING=1,IN_WIDTH=1,CLK_FREQ=128.0,DATA_PATH_DELAY="BYPASS",CLOCK_PATH_DELAY="FIXED",DATA_DELAY_ADJUSTMENT="DEFAULT",DATA_FINE_DELAY_VALUE="0",DATA_COARSE_DELAY_VALUE="0NS",CLOCK_DATA_RELATION="ALIGNED",FVCO=900.0,CLKI_FREQ=25.0,CLKOP_FREQ_ACTUAL=150.0,CLKOS_EN=1,CLKOP_BYPASS=1,CLKOS2_BYPASS=1,CLKOS3_BYPASS=1,CLKOS4_BYPASS=1,CLKOS5_BYPASS=1,PLL_RST=1,LOCK_EN=1,FBCLK_DIVIDER_ACTUAL_STR="6",DIVOP_ACTUAL_STR="5",DIVOS_ACTUAL_STR="7",DIVOS2_ACTUAL_STR="7",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000000110",DELA="5",DELB="7",DELC="7",DELD="7",DELE="7",DELF="7",IPI_CMP="0b0100",CSET="24P",CRIPPLE="3P",IPP_CTRL="0b0100",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K") 
//

module \ddr_tx_ipgen_lscc_gddr(INTERFACE_TYPE="TRANSMIT",IO_TYPE="LVDS",BUS_WIDTH=1,GEARING=1,IN_WIDTH=1,CLK_FREQ=128.0,DATA_PATH_DELAY="BYPASS",CLOCK_PATH_DELAY="FIXED",DATA_DELAY_ADJUSTMENT="DEFAULT",DATA_FINE_DELAY_VALUE="0",DATA_COARSE_DELAY_VALUE="0NS",CLOCK_DATA_RELATION="ALIGNED",FVCO=900.0,CLKI_FREQ=25.0,CLKOP_FREQ_ACTUAL=150.0,CLKOS_EN=1,CLKOP_BYPASS=1,CLKOS2_BYPASS=1,CLKOS3_BYPASS=1,CLKOS4_BYPASS=1,CLKOS5_BYPASS=1,PLL_RST=1,LOCK_EN=1,FBCLK_DIVIDER_ACTUAL_STR="6",DIVOP_ACTUAL_STR="5",DIVOS_ACTUAL_STR="7",DIVOS2_ACTUAL_STR="7",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000000110",DELA="5",DELB="7",DELC="7",DELD="7",DELE="7",DELF="7",IPI_CMP="0b0100",CSET="24P",CRIPPLE="3P",IPP_CTRL="0b0100",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K") (input GND_net, 
            input clk_64, output data_tx_o_c, input VCC_net, output clk_tx_o_c);
    
    (* is_clock=1, lineinfo="@23(33[17],33[23])" *) wire clk_64;
    
    (* lineinfo="@3(9891[124],9895[91])" *) \ddr_tx_ipgen_lscc_gddr_tx_sclk_aligned_static_bypass(BUS_WIDTH=1) \TX_SCLK_ALIGNED_STATIC_BYPASS.u_lscc_gddr_tx_sclk_aligned_static_bypass  (GND_net, 
            clk_64, data_tx_o_c, VCC_net, clk_tx_o_c);
    
endmodule

//
// Verilog Description of module \ddr_tx_ipgen_lscc_gddr_tx_sclk_aligned_static_bypass(BUS_WIDTH=1) 
//

module \ddr_tx_ipgen_lscc_gddr_tx_sclk_aligned_static_bypass(BUS_WIDTH=1) (input GND_net, 
            input clk_64, output data_tx_o_c, input VCC_net, output clk_tx_o_c);
    
    (* is_clock=1, lineinfo="@23(33[17],33[23])" *) wire clk_64;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=156, LSE_LCOL=124, LSE_RCOL=91, LSE_LLINE=9891, LSE_RLINE=9895, lineinfo="@3(9891[124],9895[91])" *) ODDRX1 \Data[0].u_data_ODDRX1  (.D0(GND_net), 
            .D1(GND_net), .SCLK(clk_64), .RST(GND_net), .Q(data_tx_o_c));
    defparam \Data[0].u_data_ODDRX1 .GSR = "ENABLED";
    (* syn_instantiated=1, LSE_LINE_FILE_ID=156, LSE_LCOL=124, LSE_RCOL=91, LSE_LLINE=9891, LSE_RLINE=9895, lineinfo="@3(9891[124],9895[91])" *) ODDRX1 u_clk_ODDRX1 (.D0(VCC_net), 
            .D1(GND_net), .SCLK(clk_64), .RST(GND_net), .Q(clk_tx_o_c));
    defparam u_clk_ODDRX1.GSR = "ENABLED";
    
endmodule

//
// Verilog Description of module pll_osc
//

module pll_osc (input GND_net, input VCC_net, output clk_64, input clk_i_c);
    
    (* is_clock=1, lineinfo="@23(33[17],33[23])" *) wire clk_64;
    (* is_clock=1, lineinfo="@23(10[3],10[8])" *) wire clk_i_c;
    
    (* lineinfo="@4(109[36],151[33])" *) \pll_osc_ipgen_lscc_pll(FVCO=1216.0,CLKI_FREQ=26.0,CLKOP_FREQ_ACTUAL=152.0,CLKOS_FREQ_ACTUAL=64.0,CLKOS2_FREQ_ACTUAL=38.0,CLKOS_EN=1,CLKOS2_EN=1,FRAC_N_EN=1,FBK_MODE="INTCLKOP",FBCLK_DIVIDER_ACTUAL_STR="46",DIVOP_ACTUAL_STR="7",DIVOS_ACTUAL_STR="18",DIVOS2_ACTUAL_STR="31",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000101110",SSC_F_CODE_STR="0b110001001111000",DELA="7",DELB="18",DELC="31",DELD="7",DELE="7",DELF="7",IPI_CMP="0b1100",CSET="8P",CRIPPLE="1P",IPP_CTRL="0b0110",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K") lscc_pll_inst (GND_net, 
            VCC_net, clk_64, clk_i_c);
    
endmodule

//
// Verilog Description of module \pll_osc_ipgen_lscc_pll(FVCO=1216.0,CLKI_FREQ=26.0,CLKOP_FREQ_ACTUAL=152.0,CLKOS_FREQ_ACTUAL=64.0,CLKOS2_FREQ_ACTUAL=38.0,CLKOS_EN=1,CLKOS2_EN=1,FRAC_N_EN=1,FBK_MODE="INTCLKOP",FBCLK_DIVIDER_ACTUAL_STR="46",DIVOP_ACTUAL_STR="7",DIVOS_ACTUAL_STR="18",DIVOS2_ACTUAL_STR="31",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000101110",SSC_F_CODE_STR="0b110001001111000",DELA="7",DELB="18",DELC="31",DELD="7",DELE="7",DELF="7",IPI_CMP="0b1100",CSET="8P",CRIPPLE="1P",IPP_CTRL="0b0110",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K") 
//

module \pll_osc_ipgen_lscc_pll(FVCO=1216.0,CLKI_FREQ=26.0,CLKOP_FREQ_ACTUAL=152.0,CLKOS_FREQ_ACTUAL=64.0,CLKOS2_FREQ_ACTUAL=38.0,CLKOS_EN=1,CLKOS2_EN=1,FRAC_N_EN=1,FBK_MODE="INTCLKOP",FBCLK_DIVIDER_ACTUAL_STR="46",DIVOP_ACTUAL_STR="7",DIVOS_ACTUAL_STR="18",DIVOS2_ACTUAL_STR="31",DIVOS3_ACTUAL_STR="7",DIVOS4_ACTUAL_STR="7",DIVOS5_ACTUAL_STR="7",SSC_N_CODE_STR="0b000101110",SSC_F_CODE_STR="0b110001001111000",DELA="7",DELB="18",DELC="31",DELD="7",DELE="7",DELF="7",IPI_CMP="0b1100",CSET="8P",CRIPPLE="1P",IPP_CTRL="0b0110",BW_CTL_BIAS="0b1111",V2I_PP_RES="9K") (input GND_net, 
            input VCC_net, output clk_64, input clk_i_c);
    
    (* is_clock=1, lineinfo="@23(33[17],33[23])" *) wire clk_64;
    (* is_clock=1, lineinfo="@23(10[3],10[8])" *) wire clk_i_c;
    
    wire fbclk_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=154, LSE_LCOL=36, LSE_RCOL=33, LSE_LLINE=109, LSE_RLINE=151, lineinfo="@4(109[36],151[33])" *) PLL \gen_no_refclk_mon.u_PLL  (.INTFBKOP(fbclk_w), 
            .DIR(GND_net), .DIRSEL({GND_net, GND_net, GND_net}), .LOADREG(GND_net), 
            .DYNROTATE(GND_net), .LMMICLK(GND_net), .LMMIRESET_N(VCC_net), 
            .LMMIREQUEST(GND_net), .LMMIWRRD_N(GND_net), .LMMIOFFSET({GND_net, 
            GND_net, GND_net, GND_net, GND_net, GND_net, GND_net}), 
            .LMMIWDATA({GND_net, GND_net, GND_net, GND_net, GND_net, 
            GND_net, GND_net, GND_net}), .PLLPOWERDOWN_N(VCC_net), .REFCK(clk_i_c), 
            .CLKOP(clk_64), .ENCLKOP(VCC_net), .ENCLKOS(VCC_net), .ENCLKOS2(VCC_net), 
            .ENCLKOS3(VCC_net), .ENCLKOS4(VCC_net), .ENCLKOS5(VCC_net), 
            .FBKCK(fbclk_w), .LEGACY(VCC_net), .PLLRESET(GND_net), .STDBY(GND_net), 
            .ROTDEL(GND_net), .DIRDEL(GND_net), .ROTDELP1(GND_net), .GRAYTEST({GND_net, 
            GND_net, GND_net, GND_net, GND_net}), .BINTEST({GND_net, 
            GND_net}), .DIRDELP1(GND_net), .GRAYACT({GND_net, GND_net, 
            GND_net, GND_net, GND_net}), .BINACT({GND_net, GND_net}));
    defparam \gen_no_refclk_mon.u_PLL .BW_CTL_BIAS = "0b1111";
    defparam \gen_no_refclk_mon.u_PLL .CLKOP_TRIM = "0b0000";
    defparam \gen_no_refclk_mon.u_PLL .CLKOS_TRIM = "0b0000";
    defparam \gen_no_refclk_mon.u_PLL .CLKOS2_TRIM = "0b0000";
    defparam \gen_no_refclk_mon.u_PLL .CLKOS3_TRIM = "0b0000";
    defparam \gen_no_refclk_mon.u_PLL .CLKOS4_TRIM = "0b0000";
    defparam \gen_no_refclk_mon.u_PLL .CLKOS5_TRIM = "0b0000";
    defparam \gen_no_refclk_mon.u_PLL .CRIPPLE = "1P";
    defparam \gen_no_refclk_mon.u_PLL .CSET = "8P";
    defparam \gen_no_refclk_mon.u_PLL .DELAY_CTRL = "200PS";
    defparam \gen_no_refclk_mon.u_PLL .DELA = "7";
    defparam \gen_no_refclk_mon.u_PLL .DELB = "18";
    defparam \gen_no_refclk_mon.u_PLL .DELC = "31";
    defparam \gen_no_refclk_mon.u_PLL .DELD = "7";
    defparam \gen_no_refclk_mon.u_PLL .DELE = "7";
    defparam \gen_no_refclk_mon.u_PLL .DELF = "7";
    defparam \gen_no_refclk_mon.u_PLL .DIRECTION = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .DIVA = "7";
    defparam \gen_no_refclk_mon.u_PLL .DIVB = "18";
    defparam \gen_no_refclk_mon.u_PLL .DIVC = "31";
    defparam \gen_no_refclk_mon.u_PLL .DIVD = "7";
    defparam \gen_no_refclk_mon.u_PLL .DIVE = "7";
    defparam \gen_no_refclk_mon.u_PLL .DIVF = "7";
    defparam \gen_no_refclk_mon.u_PLL .DYN_SEL = "0b000";
    defparam \gen_no_refclk_mon.u_PLL .DYN_SOURCE = "STATIC";
    defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOP = "ENABLED";
    defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOS = "ENABLED";
    defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOS2 = "ENABLED";
    defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOS3 = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOS4 = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOS5 = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .ENABLE_SYNC = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .FAST_LOCK_EN = "ENABLED";
    defparam \gen_no_refclk_mon.u_PLL .V2I_1V_EN = "ENABLED";
    defparam \gen_no_refclk_mon.u_PLL .FBK_CUR_BLE = "0b00000000";
    defparam \gen_no_refclk_mon.u_PLL .FBK_EDGE_SEL = "POSITIVE";
    defparam \gen_no_refclk_mon.u_PLL .FBK_IF_TIMING_CTL = "0b00";
    defparam \gen_no_refclk_mon.u_PLL .FBK_INTEGER_MODE = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .FBK_MASK = "0b00010000";
    defparam \gen_no_refclk_mon.u_PLL .FBK_MMD_DIG = "46";
    defparam \gen_no_refclk_mon.u_PLL .FBK_MMD_PULS_CTL = "0b0110";
    defparam \gen_no_refclk_mon.u_PLL .FBK_MODE = "0b00";
    defparam \gen_no_refclk_mon.u_PLL .FBK_PI_BYPASS = "NOT_BYPASSED";
    defparam \gen_no_refclk_mon.u_PLL .FBK_PI_RC = "0b1100";
    defparam \gen_no_refclk_mon.u_PLL .FBK_PR_CC = "0b0000";
    defparam \gen_no_refclk_mon.u_PLL .FBK_PR_IC = "0b1000";
    defparam \gen_no_refclk_mon.u_PLL .FLOAT_CP = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .FLOCK_CTRL = "2X";
    defparam \gen_no_refclk_mon.u_PLL .FLOCK_EN = "ENABLED";
    defparam \gen_no_refclk_mon.u_PLL .FLOCK_SRC_SEL = "REFCLK";
    defparam \gen_no_refclk_mon.u_PLL .FORCE_FILTER = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .I_CTRL = "10UA";
    defparam \gen_no_refclk_mon.u_PLL .IPI_CMP = "0b1100";
    defparam \gen_no_refclk_mon.u_PLL .IPI_CMPN = "0b0011";
    defparam \gen_no_refclk_mon.u_PLL .IPI_COMP_EN = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .IPP_CTRL = "0b0110";
    defparam \gen_no_refclk_mon.u_PLL .IPP_SEL = "0b1111";
    defparam \gen_no_refclk_mon.u_PLL .KP_VCO = "0b00011";
    defparam \gen_no_refclk_mon.u_PLL .LDT_INT_LOCK_STICKY = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .LDT_LOCK = "1536CYC";
    defparam \gen_no_refclk_mon.u_PLL .LDT_LOCK_SEL = "UFREQ";
    defparam \gen_no_refclk_mon.u_PLL .LEGACY_ATT = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .LOAD_REG = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .OPENLOOP_EN = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .PHIA = "0";
    defparam \gen_no_refclk_mon.u_PLL .PHIB = "0";
    defparam \gen_no_refclk_mon.u_PLL .PHIC = "0";
    defparam \gen_no_refclk_mon.u_PLL .PHID = "0";
    defparam \gen_no_refclk_mon.u_PLL .PHIE = "0";
    defparam \gen_no_refclk_mon.u_PLL .PHIF = "0";
    defparam \gen_no_refclk_mon.u_PLL .PLLPDN_EN = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .PLLPD_N = "USED";
    defparam \gen_no_refclk_mon.u_PLL .PLLRESET_ENA = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .REF_INTEGER_MODE = "ENABLED";
    defparam \gen_no_refclk_mon.u_PLL .REF_MASK = "0b00000000";
    defparam \gen_no_refclk_mon.u_PLL .REF_MMD_DIG = "1";
    defparam \gen_no_refclk_mon.u_PLL .REF_MMD_IN = "0b00001000";
    defparam \gen_no_refclk_mon.u_PLL .REF_MMD_PULS_CTL = "0b0000";
    defparam \gen_no_refclk_mon.u_PLL .REF_TIMING_CTL = "0b00";
    defparam \gen_no_refclk_mon.u_PLL .REFIN_RESET = "SET";
    defparam \gen_no_refclk_mon.u_PLL .RESET_LF = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .ROTATE = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SEL_OUTA = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SEL_OUTB = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SEL_OUTC = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SEL_OUTD = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SEL_OUTE = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SEL_OUTF = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SLEEP = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SSC_DITHER = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SSC_EN_CENTER_IN = "DOWN_TRIANGLE";
    defparam \gen_no_refclk_mon.u_PLL .SSC_EN_SDM = "ENABLED";
    defparam \gen_no_refclk_mon.u_PLL .SSC_EN_SSC = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SSC_F_CODE = "0b110001001111000";
    defparam \gen_no_refclk_mon.u_PLL .SSC_N_CODE = "0b000101110";
    defparam \gen_no_refclk_mon.u_PLL .SSC_ORDER = "SDM_ORDER2";
    defparam \gen_no_refclk_mon.u_PLL .SSC_PI_BYPASS = "NOT_BYPASSED";
    defparam \gen_no_refclk_mon.u_PLL .SSC_REG_WEIGHTING_SEL = "0b000";
    defparam \gen_no_refclk_mon.u_PLL .SSC_SQUARE_MODE = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .SSC_STEP_IN = "0b0000000";
    defparam \gen_no_refclk_mon.u_PLL .SSC_TBASE = "0b000000000000";
    defparam \gen_no_refclk_mon.u_PLL .STDBY_ATT = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .TRIMOP_BYPASS_N = "BYPASSED";
    defparam \gen_no_refclk_mon.u_PLL .TRIMOS_BYPASS_N = "BYPASSED";
    defparam \gen_no_refclk_mon.u_PLL .TRIMOS2_BYPASS_N = "BYPASSED";
    defparam \gen_no_refclk_mon.u_PLL .TRIMOS3_BYPASS_N = "BYPASSED";
    defparam \gen_no_refclk_mon.u_PLL .TRIMOS4_BYPASS_N = "BYPASSED";
    defparam \gen_no_refclk_mon.u_PLL .TRIMOS5_BYPASS_N = "BYPASSED";
    defparam \gen_no_refclk_mon.u_PLL .V2I_KVCO_SEL = "60";
    defparam \gen_no_refclk_mon.u_PLL .V2I_PP_ICTRL = "0b11111";
    defparam \gen_no_refclk_mon.u_PLL .V2I_PP_RES = "9K";
    defparam \gen_no_refclk_mon.u_PLL .CLKMUX_FB = "CMUX_CLKOP";
    defparam \gen_no_refclk_mon.u_PLL .SEL_FBK = "DIVA";
    defparam \gen_no_refclk_mon.u_PLL .DIV_DEL = "0b0000111";
    defparam \gen_no_refclk_mon.u_PLL .PHASE_SEL_DEL = "0b000";
    defparam \gen_no_refclk_mon.u_PLL .PHASE_SEL_DEL_P1 = "0b000";
    defparam \gen_no_refclk_mon.u_PLL .EXTERNAL_DIVIDE_FACTOR = "0";
    defparam \gen_no_refclk_mon.u_PLL .INTFBKDEL_SEL = "DISABLED";
    defparam \gen_no_refclk_mon.u_PLL .PMU_WAITFORLOCK = "ENABLED";
    defparam \gen_no_refclk_mon.u_PLL .REF_OSC_CTRL = "3P2";
    defparam \gen_no_refclk_mon.u_PLL .SIM_FLOAT_PRECISION = "0.1";
    
endmodule
